@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@media (max-width: 767px) {
  .profileImage {
    position: absolute;
    text-align: right;
  }
  .imageBanner {
    height: 80px;
  }

  .mobileLogo {
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  .profileImage {
    position: absolute;
    right: 10px;
    top: 250px;
  }
  .imageBanner {
    height: 150px;
  }
}

.navbarSpacer {
  margin-top: 100px;
}

.cardBlog {
  text-align: center;
  display: flex;
  flex-direction: row;
  // flex-direction: column;
}
.blogPost {
  font-family: "Raleway";
}

.blogTitle {
  color: #c96d11;
}

.blogSubtitle {
  font-size: 0.8em;
}

.regularFont {
  font-size: 20px;
}

.navbar-button {
  cursor: pointer;
}

.datoCMS {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Cinzel";
    font-size: 30px;
  }
  img{
    width: 30em;
  }
}
